SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRra2htbG5wemFua3NkbXBqYm91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzc2MjMsImV4cCI6MjA5MDYxMzYyM30.CHJRd-Z6uupUYlqf9zmD9YVnthHxYSuN6h84X0dxJ7g
SUPABASE_URL = https:/$()/tkkhmlnpzanksdmpjbou.supabase.co
NEWS_API_KEY = e1fb0fb09162401a86ce5dcbb0263c75
GEMINI_API_KEY = AIzaSyAy7l2jk1n_LCCZ2Djz2A165TBnLI70J2E
